{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">    
    <link rel="stylesheet" href="{% static 'css/bookSearch.css' %}">
    <title>Book Search</title>
</head>
<body>
    <div>
        <h1>Cari Buku</h1>
        <form class="form-inline">
            <input class="inputBook" id="input" type="search" placeholder="Search" aria-label="Search">
            <button id="button" type="submit">Search</button>
        </form>
    </div>
    
    
        <div class="status-container ">
                <table class="table">                    <thead class="table-head">
                    <tr>
                        <th scope="col">Judul</th>
                        <th scope="col">Penulis</th>  
                        <th scope="col">Categories</th>
                        <th scope="col">Sampul</th>
                    </tr>
                </thead>
                <div>
                    <tbody >
                    </tbody>
                </div>
                
            </table>
        </div>

    <div>
        <button class="home_button"><a href="{% url 'homepage' %}">Home</a></button>
    </div>
    
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bookSearch.js' %}"></script>
</body>
</html>