<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{%url 'user:login'%}" method = "post">
        {%csrf_token%}
        {{ form }}
        <input type="submit" value="login">
    </form>
</body>
</html>