{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock style %}

{% block judul %} Homepage {% endblock judul %} 

{% block content %}
    <div class="column text-center homepage">
        <h1>HOMEPAGE</h1>
    </div>
    <div class="column text-center button_box">
        <button id="status_butt"><a href="{% url 'status' %}">Status</a></button>
        <button><a href="{% url 'about' %}">About</a></button>
        <button class="home_button"><a href="{% url 'bookSearch' %}">Book Finder</a></button>

    </div>
{% endblock content %}