{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/status.css' %}">
{% endblock style %}

{% block judul %} Status {% endblock judul %} 

{% block content %}
<div class="column text-center">
        <h1>What happen today?</h1>
    </div>
    <div class="column justify-content-center text-center">
        <form method="POST">
            {% csrf_token %}
            <form>
                <!-- <label>{{status_form.staus.label}}</label> -->
                <div id="status">
                    {{status_form.status}}
                </div>
                <button id="tombol" type="Submit" >send</button>
            </form>
        </form>
    </div>

    <div class="column ">
        {% for status in all_status %}
        <div class="row text-center justify-content-center">
            <h4>{{status.status}}</h4>
            <h4>{{status.time}}</h4>
        </div>
        {% endfor %}
    </div>
{% endblock content %}