@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

:root {
  --primary-color: #ffffff;
  --secondary-color: #bcccf7;
  --font-color: #1e3677;
  --bg-color: #e8e8f8;
  --heading-color: #818cab;
}

[data-theme="dark"] {
  --primary-color: #525f80;
  --secondary-color: #2a3758;
  --font-color: #ffffff;
  --bg-color: #232229;
  --heading-color: #232229;
}

body{
  background:var(--bg-color);
  font-family:"Montserrat", sans-serif;
  font-weight:300;
  line-height:1.5em;
  padding:15px;
  text-align:center;
}

/* -------------SWITCH-------------- */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #3b60ce;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -------------ACCORDION-------------- */
h1{
  margin-bottom:5px;
}
.subheading{
  font-size:.9em;
  margin-top:0;
  text-transform:uppercase;
}

dl{
  margin:30px auto 60px;
  max-width:1000px;
}

dt{
  /* #505662  */
  /* #1F2024 */
  background:var(--primary-color);
  border-left:8px solid var(--secondary-color);
  color:var(--font-color);
  font-weight:600;
  padding:15px;
  position:relative;
  text-align:left;
  text-transform:uppercase;
  transition: all .5s;
}

dt:after,dt:before{
  content:"\f078";
  font-family:fontAwesome;
  position:absolute;
  right:15px;
  height:28px;
  top:0;
  bottom:0;
  margin:auto;
  
  transition:all .7s ease-in-out;
}

dt:before{
  opacity:0;
  transition:all .4s ease-in-out;
}

dt:hover{
  cursor:pointer;
}

dt + dd{
  max-height:0;
}

dd{
  background:var(--secondary-color);
  color:var(--font-color);
  margin:0;
  overflow:hidden;
  padding:1px 15px;
  
  transition: all .5s;
}

dt.open{
  background:var(--secondary-color);
  border-color:var(--secondary-color);
  color:var(--font-color);
  margin:-5px;
}

dt.open:after{
  transform:rotate(180deg) translateY(-2px);
}
dt.open:before{
  opacity:1;
  transform:rotate(-360deg) translateY(-3px);
}

dt.open + dd{
  padding:15px 15px 30px;
  margin:0 -5px;
  max-height:200px;
}

/* -------------Button-------------- */

.home_button{
  background: var(--secondary-color);
  padding: 5px 0px;
  width: 100px;
  margin: auto;
  border: none;
}


a{
  text-decoration: none;
  color:var(--font-color);
}