body{
    background:#e8e8f8;
    font-family:"Montserrat", sans-serif;
    font-weight:300;
    line-height:1.5em;
    padding:15px;
    text-align:center;
    color: #1e3677 !important; 

  }
.status-container{
    overflow-y:scroll;
    overflow-x:hidden;
    border: 2px solid #fff;
    max-height: 600px;
    margin-bottom: 10px;
    background: #bcccf7;
}
tbody{
    color: #1e3677;
}