body{
    background: #e8e8f8;
}
.homepage{
    
    /* margin: auto; */
    margin-top: 200px;
    margin-bottom: 100px;
    /* width: 100px; */
}
h1{
    color: #1e3677;
}

button{
    background: #bcccf7;
    padding: 5px 0px;
    width: 100px;
    margin: 0px 50px;
    border: none;
  }
  
  
  a{
    text-decoration: none;
    color:#1e3677;
  }