{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" 
    content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">    
    <link rel="stylesheet" href="{% static 'css/aboutMe.css' %}">
    

    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <title>About</title>
</head>
<body>
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round"></div>
    </label>
  </div>
  <div class="aboutMe">
    <dl>
      <dt>Aktivitas saat ini</dt>
      <dd>
        <p>Kuliah</p>
        <p>Tidur</p>
        <p>Yutub</p>
        <p>Ripit</p>
      </dd>
      <dt>Pengalaman Organisasi/Kepanitiaan</dt>
      <dd>
        <h5>Betis 2020</h5>
        <p>VPJ of Akademis dan Pengajar</p>
      </dd>
      <dt>Prestasi</dt>
      <dd>
        <p>Manusia terprocrast sepanjang sejarah</p>
        <p>Pemenang lomba nelen kelereng </p>
      </dd>
    </dl>
  </div>
  <button class="home_button"><a href="{% url 'homepage' %}">Home</a></button>
  

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/aboutMe.js' %}"></script>
  
</body>
</html>