{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    {% block style %} {% endblock style%}
    <title>
        {% block judul %} {% endblock judul %}
    </title>


</head>

<body>
        {%if user.is_authenticated %}
        <h4>Welcome, {{ request.user.username }}</h4>
        <form action="{% url 'user:logout'%}" method = "post">
            {%csrf_token%}
            <button type = "submit">Logout</button>
        </form>
        {% else %}
        <button><a href="{% url  'user:login'%}">Login</a></button>
        {% endif %}

    {% block content %} {% endblock content %}
    



</body>

</html>